<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue"></script>
  <title>Matador de monstros</title>
</head>

<body>
  <div id="app">
    <main>
      <div class="players">
        <div id="jogador">
          <h1>Jogador</h1>
          <div class="life-bar">
            <div class="life" :class="[{danger: playerLife < 20}]" :style="{width: playerLife + '%'}"></div>
          </div>
          <h3>{{ playerLife }}%</h3>
        </div>
        <div id="monstro">
          <h1>Monstro</h1>
          <div class="life-bar">
            <div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
          </div>
          <h3>{{ monsterLife }}%</h3>
        </div>
      </div>

      <div class="menu">
        <div id="menu" v-if="!hasResult">
          <button class="ataque" @click="attack">ataque</button>
          <button class="especial" @click="superAttack">Ataque especial</button>
          <button class="curar" @click="heal">curar</button>
          <button class="desistir" @click="giveUp">desistir</button>
        </div>   
        <template>
            <div v-if="hasResult">
              <div v-if="monsterLife == 0" class="endGame win">Você ganhou :)</div> 
              <div v-else class="endGame lose">Você perdeu :(</div> 
              <button class="newGame" @click="startGame">Novo Jogo</button>
            </div>        
        </template> 
      </div>

      <div id="log" v-if="logs.length">
        <ul>
          <li class="log" :class="l.cls" v-for="l in logs">{{ l.text }}</li>
        </ul>
      </div>
    </main>
  </div>
  <script src="./app.js"></script>
</body>

</html>